<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.edu.nwsuaf.dao.OrderDao">

	<!-- 关联查询 -->

	<!-- 查询所有订单信息 -->

	<select id="findAllOrder" 
		resultType="cn.edu.nwsuaf.entity.Orders">
		select * from orders 
	 </select>
	 
	 <select id="findUserOrder" 
		resultType="cn.edu.nwsuaf.entity.Orders">
		select * from orders
	 </select>

	<select id="updateOrder"> <!-- 修改订单状态  -->
		 update orders set state=#{1} where id=#{0}
	</select>

	<select id="deleteOrder" parameterType="int"> <!-- 删除订单  -->
		delete from Orders where id = #{id}
	</select>

	
</mapper>