<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <!-- 与MyBatisDemo02相比多了一个接口namespace指定接口位置 -->
<mapper namespace="cn.edu.nwsuaf.dao.ProductDao">
<!-- 查询商品信息 -->
	<select id="findProductById" parameterType="int" resultType="cn.edu.nwsuaf.entity.Product">
		select * from product where id=#{id}	
	</select>
	
	<select id="findAllProduct" resultType="cn.edu.nwsuaf.entity.Product">
		SELECT *
		FROM `product` AS t1 JOIN (SELECT ROUND(RAND() * ((SELECT MAX(id) FROM
		`product`)-(SELECT MIN(id) FROM `product`))+(SELECT MIN(id) FROM
		`product`)) AS id) AS t2
		WHERE t1.id >= t2.id
		ORDER BY t1.id LIMIT 7;
	</select>
	
	<select id="findAllProduct1" resultType="cn.edu.nwsuaf.entity.Product">
		select * from product
	</select>
	
</mapper>